body { background-color: #333; }

.Area {
  position: absolute;
  border: 2px solid white;
  border-radius: 6px;
  z-index: 0 !important;
  width: 110px;
  height: 148px;
  padding: 6px 6px;
}

.Area p.name {
  position: absolute;
  margin: 0;
  padding: 5px;
  bottom: 100%;
  color: white;
}

.scene {
  width: 92px;
  height: 130px;
  perspective: 1000px;
  display: inline-block;
  position: absolute;
  margin: 5px;
  border-radius: 5px;
}

.Card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.Card img {
  border-radius: inherit;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: white;
}

.card__face--back {
  background: white;
  transform: rotateY(180deg);
}
