#comments-container {
	/* -webkit-user-drag: element; */
  background-color: #e7e7e7ee;
  position: fixed;
  height: 30vw;
  width: 20vw;
  left: 70vw;
  top: 5vw;

  resize: both;
  z-index: 501;
}
#comments-container::-webkit-scrollbar {
  width: 16px;
	display: block;
}
#comments-container::-webkit-scrollbar-thumb {
  height: 48px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--yt-opalescence-dark-grey); 
  background-color: rgb(201, 201, 201);
}
#comments-container::-webkit-scrollbar-thumb:hover,
#comments-container::-webkit-scrollbar-thumb:active {
  background-color: rgb(255, 255, 255);
}
#comments-container::-webkit-resizer {
  background-color: #919191ee;
}


#comments-box-header {
  background-color: blue;
  display: block;
  width: inherit;
  position: relative;
  justify-content: space-between;
}
#comments-close-button {
  align-items: right;
}


#comments-box {
  margin-left: 10px;
  height: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: auto;
}

#comments-box::-webkit-scrollbar {
  width: 16px;
	display: block;
}
#comments-box::-webkit-scrollbar-thumb {
  height: 48px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  /* background-color: var(--yt-opalescence-dark-grey); */
  background-color: rgb(201, 201, 201);
}
#comments-box::-webkit-scrollbar-thumb:hover,
#comments-box::-webkit-scrollbar-thumb:active {
  background-color: rgb(255, 255, 255);
}
#comments-box::-webkit-resizer {
  background-color: #919191ee;
}


.dark {
  background-color: #303030ee !important;
}
